{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

<section class="hero">
    <div class="hero-text">
      <h1>Discover popular video games from 1980s to 2023</h1>
      <p>
        Explore the best games from every generation, relive the classics, and discover the legends.
      </p>
      <div class="hero-buttons">
        <a href="/collections">Explore now</a>
        <a href="/connect">Connect with us</a>
      </div>
    </div>
  </section>

  <section class="stats">
    <div>
      <span>1526K</span> Games
    </div>
    <div>
      <span>356K</span> Players
    </div>
    <div>
      <span>150K</span> Rating
    </div>
  </section>

  <br> <br> <br>

 <footer class="footer">
  <div class="footer">
    <div class="social-media">
      <h3>Social Media</h3>
      <div class="icons">
        <a href="https://facebook.com" target="_blank" class="icon facebook"></a>
        <a href="https://instagram.com" target="_blank" class="icon instagram"></a>
        <a href="https://twitter.com" target="_blank" class="icon twitter"></a>
        <a href="https://youtube.com" target="_blank" class="icon youtube"></a>
        <a href="https://github.com" target="_blank" class="icon github"></a>
      </div>
    </div>
  </div>
   <p>&copy; 2024 Popular Video Games | All Rights Reserved</p>
 </footer>
{% endblock %}